@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&display=swap" rel="stylesheet');

body {
  background: #FFFFFF;
}

.container {
  font-family: Lato;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  padding: 18px 0;
}

.navigation {
  display: flex;
  align-items: center; /* Выровнять элементы по вертикали */
  justify-content: space-between; /* Разделяет содержимое по краям */
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 41px; /* Расстояние между логотипом и кнопкой поиска */
}

.logo img {
  display: block;
  max-height: 40px; /* Ограничение высоты логотипа */
}

.search-btn {
  display: flex;
  align-items: center;
}

.btnMenu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 33px; /* Расстояние между кнопками */
}

.containerMain {
  background: #F1E4E6;
  max-width: 100%;
}

.containerMain_mainContent {
  max-width: 1600px;
  margin: 0 auto;
  display: flex; /* Включаем flexbox */
  align-items: center;
  justify-items: center;
  gap: 64px; /* Расстояние между дочерними элементами */
}

.mainContent__leftSide {
  max-width: 800px;
  align-self: flex-end; /* Гарантирует, что элемент выравнен по нижнему краю */
}

.mainContent__rightSide_text {
  flex-direction: column;
  max-width: 405px; /* Ограничение ширины текста */
  max-height: 93px;
  font-family: Lato;
  padding: 0 0 0 16px;
  background-color: transparent; /* Убирает фон */
  border-left: 12px solid #F16D7F; /* Левая граница */
  text-align: left;
}

.mainContent__rightSide h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
}

.mainContent__rightSide h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  white-space: nowrap;
}

.highlight_rightSide {
  color: #F16D7F; /* Цвет текста */
}

.cardList {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки одинаковой ширины */
  grid-template-rows: auto auto; /* Автоматическая высота строк */
  gap: 30px; /* Расстояние между элементами */
}

.card {
  position: relative; /* Устанавливаем позицию для использования overlay */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  display: block;
  width: 100%; /* Устанавливаем ширину картинки */
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7); /* Цвет с затемнением */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.overlay h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #FFFFFF;
}

.overlay h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: #F16D7F;
}

.cardBig {
  grid-column: span 3; /* Занимает все три колонки */
  grid-row: 2; /* Находится во втором ряду */
}

.items {
  font-family: Lato;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 96px;
}

.items h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.items h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.rectangles {
  display: flex;
  flex-direction: column;
  text-align: left; /* Выравнивание текста, если нужно */
}

.rectangles img {
  display: block; /* Убирает возможные отступы изображения (inline-элементов) */
  width: 100%; /* Задаёт ширину изображения */
  margin: 0; /* Убирает отступы вокруг изображения */
  padding: 0; /* Убирает отступы внутри изображения */
}

.rectanglesDescription {
  background: #F8F8F8; /* Цвет фона для описания */
  padding: 25px 30px 25px 15px; /* Отступы внутри описания */
}

.rectanglesDescription h2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: #000000;
  margin-bottom: 16px;
}

.rectanglesDescription p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  color: #5D5D5D;
  margin-bottom: 16px;
}

.rectanglesLocation h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #F16D7F;
}

.rectanglesLocation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Колонки с адаптивной шириной */
  column-gap: 30px; /* Расстояние между карточками в одном ряду */
  row-gap: 25px; /* Расстояние между строками */
}

.baseBtn {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 60px;
}

.btnAllProduct {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background: transparent;
  padding: 15px 40px;
}

@media (max-width: 1140px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .header {
    padding: 18px 32px;
  }

  .logo img {
    max-height: 38px; /* Ограничение высоты логотипа */
  }

  .menu {
    gap: 25px; /* Расстояние между кнопками */
  }

  .containerMain_mainContent {
    max-width: 770px;
    margin: 0 auto;
    display: flex; /* Включаем flexbox */
    align-items: center;
    justify-items: center;
    gap: 39px; /* Расстояние между дочерними элементами */
  }

  .mainContent__leftSide {
    max-width: 386px;
  }

  .mainContent__rightSide_text {
    max-width: 311px; /* Ограничение ширины текста */
  }

  .mainContent__rightSide h2 {
    font-size: 44px;
    line-height: 52.8px;
  }

  .mainContent__rightSide h3 {
    font-size: 24px;
    line-height: 28.8px;
  }

  .cardList {
    gap: 19px; /* Расстояние между элементами */
  }

  .items {
    margin-top: 110px;
  }

  .items h2 {
    margin-bottom: 3px;
  }

  .items h3 {
    margin-bottom: 72px;
  }

  .rectanglesDescription {
    background: #F8F8F8; /* Цвет фона для описания */
    padding: 25px 30px 20px 15px; /* Отступы внутри описания */
  }

  .rectanglesDescription h2 {
    margin-bottom: 12px;
  }

  .rectanglesDescription p {
    margin-bottom: 18px;
  }

  .rectanglesLocation {
    column-gap: 16px; /* Расстояние между карточками в одном ряду */
    row-gap: 16px; /* Расстояние между строками */
  }

  .baseBtn {
    margin-top: 32px;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }

  .header {
    padding: 18px 16px;
  }

  .hidden {
    display: none;
  }

  .containerMain {
    background: #F1E4E6;
    max-width: 100%;
    padding: 148px 56px;
  }

  .containerMain_mainContent {
    max-width: 375px;
    max-height: 363px;
    margin: 0 auto;
    justify-content: center;
  }

  .mainContent__rightSide_text {
    max-width: 263px; /* Ограничение ширины текста */
  }

  .mainContent__rightSide h2 {
    font-size: 38px;
    line-height: 45.6px;
  }

  .mainContent__rightSide h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Одна колонка */
    gap: 32px; /* Расстояние между карточками */
  }

  .cardBig {
    background-position: center;
    grid-column: 1;
    grid-row: 4;
    height: 111px;
  }

  .cardBig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .items {
    margin-top: 64px;
  }

  .items h2 {
    margin-bottom: 3px;
  }

  .items h3 {
    margin-bottom: 65px;
  }

  .rectanglesDescription {
    padding: 24px 28px 20px 16px; /* Отступы внутри описания */
  }
  .rectanglesDescription h2 {
    margin-bottom: 12px;
  }

  .rectanglesDescription p {
    margin-bottom: 18px;
  }

  .rectanglesLocation {
    row-gap: 16px; /* Расстояние между строками */
  }

  .baseBtn {
    margin-top: 40px;
    margin-bottom: 85px;
  }
}