@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&display=swap");

@import "vars";
@import "mixins";

* {
	margin: 0;
	padding: 0;
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

%flex {
	display: flex;
	flex-wrap: wrap;
}

body {
	background-color: #ffffff;
	font-family: Lato, sans-serif;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.header {
	background-color: $backBlock;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	justify-content: space-between;
	@extend %flex;
	position: relative;
	&__left {
		display: flex;
		align-items: center;
		gap: 41px;
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 33px;
	}
	&__right_productCounter {
		position: relative; /* Это позволяет позиционировать псевдоэлемент внутри этого блока */
		display: inline-block;
		&::after {
			content: "5"; /* Число в кружке */
			position: absolute;
			top: -8px; /* Настройка положения по вертикали */
			right: -9px; /* Настройка положения по горизонтали */
			width: 19px; /* Ширина кружка */
			height: 19px; /* Высота кружка */
			background-color: #f16d7f; /* Цвет кружка */
			border-radius: 50%; /* Закругленные углы */
			color: white; /* Цвет текста */
			font-size: 12px; /* Размер текста */
			display: flex; /* Flexbox для выравнивания текста внутри кружка */
			align-items: center; /* Вертикальное выравнивание текста */
			justify-content: center; /* Горизонтальное выравнивание текста */
		}
	}
}

.box-content {
	overflow: hidden;
}

#burger {
	position: absolute;
	left: -99999px;
	visibility: hidden;
	&:checked ~ .popupMenu {
		right: -$widthBurgerMenu;
	}
}

.popupMenu {
	position: absolute; /* Абсолютное позиционирование относительно .containerMain */
	top: 82px; /* Отступ от верхнего края контейнера */
	right: 0; /* Отступ от правого края контейнера */
	width: 232px; /* Ширина меню */
	// 	box-sizing: border-box;
	background-color: white;
	border: none;
	transition: right 0.3s;
	box-shadow: 6px 4px 35px 0px #00000036; /* Тень для объема */
	z-index: 5; /* Поверх остальных элементов */
	padding: 32px; /* Внутренние отступы для расположения содержимого */
	box-sizing: border-box;
	h2 {
		font-size: 14px;
		font-weight: 700;
		line-height: 16.8px;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	a {
		color: inherit;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		cursor: pointer;
		background: transparent;
		border: none;
		&:hover path {
			fill: $colorSelectSite;
		}
	}
	&__section {
		h3 {
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			color: #f16d7f;
			text-transform: uppercase;
			margin-bottom: 12px;
			list-style: none; /* Убирает маркеры у списка */
		}
	}
	&__section-categories {
		li {
			padding-left: 25px; /* Отступ от левого края блока */
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			color: #6f6e6e;
			gap: 11px;
			margin-bottom: 11px;
			list-style: none;
		}
	}
}

.top-head {
	background-color: #f8f3f4;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__heading {
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		line-height: 29px;
		color: $colorSelectSite;
	}
}

.medium {
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
}

.registration {
  display: flex;
  flex-direction: column;
	max-width: 360px;
  &__left {
    display: flex;
    flex-direction: column;
    &_form {
      font-size: 16px;
      font-weight: 400;
      color: #222222;
      margin-bottom: 20px;
      &-inputs {
				box-sizing: border-box;
        padding: 15px 17px;
        color: #4a4a4a;
        border: 1px solid #a4a4a4;
        background: #ffffff;
        margin-bottom: 20px;
        font-size: 13px;
				width: 100%;
        &::placeholder {
          color: #b1b1b1;
        }
        &:focus {
          outline: none;
          border: 1px solid #f16d7f;
        }
      }
    }
	}
	p {
		font-size: 13px;
		color: #b1b1b1;
		margin-top: -5px;
		margin-bottom: 39px;
		width: 360px;
	}
  &__gender {
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
		margin-top: 11px;
		margin-bottom: 33px;
    &_option {
      display: flex;
      align-items: center;
      cursor: pointer;
      .registration__gender_input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked + .registration__checkmark_male,
        &:checked + .registration__checkmark_female {
          background-color: #f16d7f;
          border: 1px solid #f16d7f;
          &::after {
            background-color: #fff;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .registration__checkmark_male,
      .registration__checkmark_female {
        width: 18px;
        height: 18px;
        border: 1px solid #a4a4a4;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
      }
    }
  }
  button {
    background-color: #f16d7f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 96px;
    padding: 17px 29px;
    box-sizing: border-box;
    max-width: 167px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #f16d7f;
    &:hover {
      background: #fff;
      color: #f16d7f;
    }
    &:hover path {
      fill: #f16d7f;
    }
  }
}

.promotions {
	margin-left: 128px;
	min-width: 652px;
	color: $colorText;
	h2 {
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 22px;
	}
	h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
    margin-bottom: 21px;
	}
	&__indent {
		display: flex;
    align-items: center;
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 16px;
		gap: 22px;
	}
}


/* Блок с преимуществами */
.containerFooter {
	background: #222224;
	max-width: 100%;
	overflow: hidden;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		height: 100%;
	}
	&__overlayFooter {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__overlayFooter img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__overlayFooter::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(244, 244, 244, 0.7); /* Полупрозрачное наложение */
		z-index: 1; /* Находится под контентом */
	}
	&__overlayFooter-content {
		position: absolute; /* Размещаем поверх родительского блока */
		top: 45%;
		left: 30%;
		transform: translate(-25%, -50%); /* Центрирование методом подбора*/
		display: flex; /* Выравнивание контента */
		align-items: center;
		gap: 328px;
		z-index: 2; /* Поверх фона и наложения */
	}
	&__leftSide {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 360px;
		gap: 30px;
		& p {
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
		}
	}
	&__leftSide-italic {
		font-style: italic; /* Выделение части текста в левой части блока */
	}
	&__rightSide {
		text-align: center;
		text-transform: uppercase;
		max-width: 557px;
		& h2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
		}
		& h3 {
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 32px;
		}
		& input {
			display: flex;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			border-radius: 50px 0 0 50px; /* Закругление только левых углов формы */
			max-width: 256px;
			height: 49px;
			border: none;
			padding: 0 64px 0 22px; /* Внутренние отступы */
			background-color: #e1e1e1;
			&:focus {
				outline: none;
				border: transparent; /* Полностью убирает видимость границы */
			}
		}
		& button {
			background: #f16d7f;
			border-radius: 0 50px 50px 0; /* Закругление только правых углов формы */
			color: #ffffff;
			cursor: pointer;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			max-width: 100px;
			height: 49px;
			border: none;
			padding: 10px 20px;
		}
	}
	&__rightSide-formSize {
		display: flex;
		align-items: center;
		text-align: center;
		gap: 0; /* Убирает промежуток между input и button */
	}
	&__bottom {
		display: flex;
		align-items: center; /* Выравнивание по вертикали */
		justify-content: space-between; /* Распределение элементов по краям */
		max-width: 1600px;
		margin: 0 auto;
		padding: 24px 230px;
	}
	&__bottom-text {
		display: flex;
		align-items: center; /* Убедитесь, что текст выровнен по центру */
		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			color: #fbfbfb;
		}
	}
	&__bottom-icons {
		display: flex;
		align-items: center; /* Выравнивание иконок по центру */
		gap: 7px; /* Расстояние между иконками */
		cursor: pointer;
	}
	& .icon-wrapper {
		display: flex; /* Для корректной работы flex-контейнеров */
		align-items: center; /* Выравнивание иконки по вертикали */
		& .bg {
			fill: white; /* Цвет фона иконки*/
			transition: fill 0.3s ease; /* Плавный переход цвета */
		}
		& .icon-path {
			fill: black; /* Цвет иконки */
			transition: fill 0.3s ease; /* Плавный переход цвета */
		}
		&:hover .bg {
			fill: #f16d7f; /* Фон иконки становится розовым */
		}
		&:hover .icon-path {
			fill: white; /* Иконка становится белой */
		}
	}
}
