@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.headerWrapper {
  background-color: #222; /* Фон на всю ширину */
  width: 100%; /* Растягиваем фон на всю ширину */
  position: relative;
}

.header {
  background-color: #222;
  padding: 20px 16px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1141px;
  margin: 0 auto;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__right_productCounter {
  position: relative; /* Это позволяет позиционировать псевдоэлемент внутри этого блока */
  display: inline-block;
}
.header__right_productCounter::after {
  content: "5"; /* Число в кружке */
  position: absolute;
  top: -8px; /* Настройка положения по вертикали */
  right: -9px; /* Настройка положения по горизонтали */
  width: 19px; /* Ширина кружка */
  height: 19px; /* Высота кружка */
  background-color: #F16D7F; /* Цвет кружка */
  border-radius: 50%; /* Закругленные углы */
  color: white; /* Цвет текста */
  font-size: 12px; /* Размер текста */
  display: flex; /* Flexbox для выравнивания текста внутри кружка */
  align-items: center; /* Вертикальное выравнивание текста */
  justify-content: center; /* Горизонтальное выравнивание текста */
}

.box-content {
  overflow: hidden;
}

#burger {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}
#burger:checked ~ .popupMenu {
  right: -99999px;
}

.popupMenu {
  position: absolute; /* Абсолютное позиционирование относительно .containerMain */
  top: 82px; /* Отступ от верхнего края контейнера */
  right: 0; /* Отступ от правого края контейнера */
  width: 232px; /* Ширина меню */
  background-color: white;
  border: none;
  transition: right 0.1s;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059); /* Тень для объема */
  z-index: 5; /* Поверх остальных элементов */
  padding: 32px; /* Внутренние отступы для расположения содержимого */
  box-sizing: border-box;
}
.popupMenu h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.popupMenu a {
  color: inherit;
}
.popupMenu__content {
  display: flex;
  flex-direction: column;
}
.popupMenu__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.popupMenu__close:hover path {
  fill: #f16d7f;
}
.popupMenu__section h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 12px;
  list-style: none; /* Убирает маркеры у списка */
}
.popupMenu__section-categories li {
  padding-left: 25px; /* Отступ от левого края блока */
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #6f6e6e;
  gap: 11px;
  margin-bottom: 11px;
  list-style: none;
}

.top-headWrapper {
  background-color: #f8f3f4; /* Фон на всю ширину */
  width: 100%; /* Растягиваем фон на всю ширину */
  position: relative;
}

.top-head {
  background-color: #f8f3f4;
  padding: 60px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1141px;
  margin: 0 auto;
}
.top-head__heading {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
  color: #f16d7f;
}

.medium {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.registration {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.registration__left {
  display: flex;
  flex-direction: column;
}
.registration__left_form {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 20px;
}
.registration__left_form-inputs {
  box-sizing: border-box;
  padding: 15px 17px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  background: #ffffff;
  margin-bottom: 20px;
  font-size: 13px;
  width: 100%;
}
.registration__left_form-inputs::-moz-placeholder {
  color: #b1b1b1;
}
.registration__left_form-inputs::placeholder {
  color: #b1b1b1;
}
.registration__left_form-inputs:focus {
  outline: none;
  border: 1px solid #f16d7f;
}
.registration p {
  font-size: 13px;
  color: #b1b1b1;
  margin-top: -5px;
  margin-bottom: 39px;
  width: 360px;
}
.registration__gender {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 11px;
  margin-bottom: 33px;
}
.registration__gender_option {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.registration__gender_option .registration__gender_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.registration__gender_option .registration__gender_input:checked + .registration__checkmark_male, .registration__gender_option .registration__gender_input:checked + .registration__checkmark_female {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
}
.registration__gender_option .registration__gender_input:checked + .registration__checkmark_male::after, .registration__gender_option .registration__gender_input:checked + .registration__checkmark_female::after {
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registration__gender_option .registration__checkmark_male,
.registration__gender_option .registration__checkmark_female {
  width: 18px;
  height: 18px;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.registration button {
  background-color: #f16d7f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 96px;
  padding: 17px 29px;
  box-sizing: border-box;
  max-width: 167px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f16d7f;
}
.registration button:hover {
  background: #fff;
  color: #f16d7f;
}
.registration button:hover path {
  fill: #f16d7f;
}

.promotions {
  margin-left: 128px;
  min-width: 652px;
  color: #000;
}
.promotions h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 22px;
}
.promotions h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 21px;
}
.promotions__indent {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 16px;
  gap: 22px;
}

/* Блок с преимуществами */
.containerFooter {
  background: #222224;
  max-width: 100%;
  overflow: hidden;
}
.containerFooter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
.containerFooter__overlayFooter {
  position: relative;
  width: 100%;
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerFooter__overlayFooter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containerFooter__overlayFooter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7); /* Полупрозрачное наложение */
  z-index: 1; /* Находится под контентом */
}
.containerFooter__overlayFooter-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 328px;
  z-index: 2;
  width: min(100%, 1141px); /* Гарантируем, что ширина будет 100%, но не больше 1141px */
  justify-content: space-between; /* Контролируем отступы между элементами */
  padding: 0 8px; /* Немного отступов, чтобы избежать прилипания к краям */
  box-sizing: border-box;
}
.containerFooter__leftSide {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 360px;
  max-width: 360px;
  gap: 30px;
}
.containerFooter__leftSide p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.containerFooter__leftSide-italic {
  font-style: italic; /* Выделение части текста в левой части блока */
}
.containerFooter__rightSide {
  text-align: center;
  text-transform: uppercase;
  max-width: 557px;
}
.containerFooter__rightSide h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.containerFooter__rightSide h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.containerFooter__rightSide input {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  border-radius: 50px 0 0 50px; /* Закругление только левых углов формы */
  max-width: 256px;
  height: 49px;
  border: none;
  padding: 0 64px 0 22px; /* Внутренние отступы */
  background-color: #E1E1E1;
}
.containerFooter__rightSide input:focus {
  outline: none;
  border: transparent; /* Полностью убирает видимость границы */
}
.containerFooter__rightSide button {
  background: #f16d7f;
  border-radius: 0 50px 50px 0; /* Закругление только правых углов формы */
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  max-width: 100px;
  height: 49px;
  border: none;
  padding: 10px 20px;
}
.containerFooter__rightSide-formSize {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0; /* Убирает промежуток между input и button */
}
.containerFooter__bottom {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between; /* Распределение элементов по краям */
  max-width: 1141px;
  margin: 0 auto;
  padding: 24px 16px;
}
.containerFooter__bottom-text {
  display: flex;
  align-items: center; /* Убедитесь, что текст выровнен по центру */
}
.containerFooter__bottom-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #fbfbfb;
}
.containerFooter__bottom-icons {
  display: flex;
  align-items: center; /* Выравнивание иконок по центру */
  gap: 7px; /* Расстояние между иконками */
  cursor: pointer;
}
.containerFooter .icon-wrapper {
  display: flex; /* Для корректной работы flex-контейнеров */
  align-items: center; /* Выравнивание иконки по вертикали */
}
.containerFooter .icon-wrapper .bg {
  fill: white; /* Цвет фона иконки*/
  transition: fill 0.3s ease; /* Плавный переход цвета */
}
.containerFooter .icon-wrapper .icon-path {
  fill: black; /* Цвет иконки */
  transition: fill 0.3s ease; /* Плавный переход цвета */
}
.containerFooter .icon-wrapper:hover .bg {
  fill: #f16d7f; /* Фон иконки становится розовым */
}
.containerFooter .icon-wrapper:hover .icon-path {
  fill: white; /* Иконка становится белой */
}

@media (max-width: 1140.98px) and (min-width: 768px) {
  .center {
    padding-left: calc(50% - 369px);
    padding-right: calc(50% - 369px);
  }
  .container {
    max-width: 736px;
  }
  .header {
    padding: 18px 32px;
    max-width: 768px;
  }
  .logo img {
    max-height: 38px; /* Ограничение высоты логотипа */
  }
  .menu {
    gap: 25px; /* Расстояние между кнопками */
  }
  .popupMenu {
    top: 78px;
  }
  .top-head {
    padding: 60px 16px;
    max-width: 768px;
  }
  .medium {
    margin-top: 40px;
  }
  .promotions {
    margin-left: 22px;
    min-width: 360px;
    max-width: 360px;
  }
  .promotions h2 {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .promotions h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .promotions__indent {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .containerFooter__form {
    width: 738px;
    height: 693px;
    z-index: 2;
  }
  .containerFooter__overlayFooter {
    position: relative;
    width: 768px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerFooter__overlayFooter img {
    height: 115%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 23% 20%;
       object-position: 23% 20%;
    transform: translateY(5%); /* Центрируем изображение */
  }
  .containerFooter__overlayFooter-content {
    flex-direction: column;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 85px;
  }
  .containerFooter__rightSide h3 {
    margin-bottom: 27px;
  }
  .containerFooter__bottom {
    width: 738px;
    padding: 24px 17px;
    box-sizing: border-box;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 359px;
  }
  .header {
    padding: 18px 16px;
    max-width: 375px;
  }
  .hidden {
    display: none;
  }
  .popupMenu {
    top: 78px;
  }
  .top-head {
    padding: 50px 0 69px 0;
    max-width: 375px;
    justify-content: center;
  }
  .medium {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 40px;
  }
  .registration {
    margin-top: 40px;
  }
  .registration button {
    margin-bottom: 0;
  }
  .promotions {
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-width: 360px;
    max-width: 360px;
    margin-bottom: 96px;
  }
  .promotions h2 {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .promotions h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .promotions__indent {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .containerFooter__form {
    max-width: 375px;
    height: 550px;
  }
  .containerFooter__overlayFooter {
    position: relative;
    width: 375px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerFooter__overlayFooter-content {
    flex-direction: column;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 59px;
  }
  .containerFooter__overlayFooter-content p {
    font-size: 18px;
    max-width: 341px;
  }
  .containerFooter__overlayFooter img {
    height: 115%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 24% 30%;
       object-position: 24% 30%;
    transform: translateY(-2%); /* Центрируем изображение */
  }
  .containerFooter__rightSide h2 {
    font-size: 24px;
    font-weight: 700;
  }
  .containerFooter__rightSide h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;
  }
  .containerFooter__rightSide-formSize input {
    box-sizing: border-box;
    width: 245px;
    height: 47px;
    padding: 10px 0 10px 22px; /* Внутренние отступы */
  }
  .containerFooter__rightSide-formSize button {
    box-sizing: border-box;
    width: 96px;
    height: 47px;
    border: none;
    padding: 10px;
    text-align: center;
  }
  .containerFooter__bottom {
    flex-direction: column-reverse;
    max-width: 251px;
    padding: 43px 0 9px 0;
    gap: 40px;
  }
  .containerFooter_bottom-text p {
    text-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */