/* Псевдокласс прописывается через одну пару двоеточий :
   Псевдоэлемент через две пары двоеточий :: */

/* ul class menu */

/* Эффект наведения через hover */

.menu__link:hover {
  color: red;
}

/* Эффект при клике active*/

.menu__link:active {
  color: green;
}

/* Найти первый элемент списка и добавить нижнее подчеркивание ссылке */

.menu__list:first-child {
  text-decoration: underline;
}

/* Найти последний элемент списка и добавить ссылке жирность font-weight: bold */

.menu__list:last-child {
  font-weight: bold;
}

/* Найти ссылки внутри списка и добавить фоновый цвет */

.menu__list:nth-child(3) {
  background-color: orange;
}

/* div class product */

.product {
  width: 250px;
  padding: 24px;
  border: 1px solid #000;
}

.product__img {
  background-color: forestgreen;
  height: 150px;
  position: relative; /* размещает элементы внутри блока */
}

/* пример с текстом */

/* .product__img::after {
  content: "NEW";
  position: absolute;
  top: 0;
  right: 0;
} */

/* пример с иконкой */

.product__img::after {
  content: url(./img/basket.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.product__img::before {
  content: "NEW";
  position: absolute;
  /* top: 0;
  right: 0; */ /* если не указывать данные параметры, то по умолчанию расположение элемента в правом верхнем углу */
  background-color: lightblue;
}

/* Необходимо добавить эффект наведения на картинку */
svg:hover {
  transform: scale(2); /* при значении 0.5 иконка уменьшится (отрицательные значения недопустимы) */
  fill: aquamarine;
}

/* Необходимо поменять значение цвета на yellow при нажатии */
svg:active {
  fill: rgba(255, 255, 0, 0.821);
}

.item {
  width: 150px;
  height: 86px;
  background-color: forestgreen;
  border: 1px solid #000;
  transition: transform 1s; /* плавность анимации */
}

/* при наведении на первый блок, он смещается на 50px вправо */
.item_1:hover {
  /* transform: translateX(50px); */
  transform: translateX(50px) scale(0.5);
}

/* при наведении на второй блок, он увеличивается в 2 раза */
.item_2:hover {
  transform: scale(2);
}

/* при наведении на 3 блок, он поворачивается по часовой стрелке на 60 градусов */
.item_3:hover {
  transform: rotate(60deg);
}