@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&display=swap" rel="stylesheet');

@import "vars";
@import "mixins";

* {
	margin: 0;
	padding: 0;
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

%flex {
	display: flex;
	flex-wrap: wrap;
}

body {
	background-color: #ffffff;
	font-family: Lato, sans-serif;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.filter-sort {
	margin-bottom: 64px;
	margin-top: 38px;
	box-sizing: border-box;
	display: flex;
	gap: $gapGrid;
	justify-items: left;
}

.filter {
	padding-top: 13px;
	width: $thirdSite;
	position: relative;
	box-sizing: border-box;
	z-index: 1;
	&__content {
		padding: 39px 16px 16px 16px;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #ffffff;
		box-shadow: none;
		flex-direction: column;
		box-sizing: border-box;
	}
	&[open] &__content {
		display: flex;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	}
	&[open] &__heading {
		color: $colorSelectSite;
	}
	&[open] path {
		fill: $colorSelectSite;
	}
	&__summary {
		display: flex;
		align-items: center;
		gap: 11px;
		padding-left: 16px;
		cursor: pointer;
		position: relative;
		z-index: 2;
	}
	&__heading {
		font-style: normal;
		font-size: 14px;
		font-weight: 600;
		line-height: 16.8px;
		color: $colorText;
	}
	&__item {
		margin-top: 16px;
	}
	&[open] .filter__head {
		color: $colorSelectSite;
	}
	&__link-box {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding: 12px 16px;
	}
	&__link {
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
		color: #6f6e6e;
		&:hover {
			color: $colorSelectSite;
		}
	}
	&__head {
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
		color: #6f6e6e;
		padding: 8px 11px 11px 11px;
		border-bottom: 1px solid #ebebeb;
		border-left: 5px solid $colorSelectSite;
	}
	&__item[open] &__head {
		color: $colorSelectSite;
	}
}

.sort {
	padding-top: 13px;
	display: flex;
	gap: 18px;
	&__details {
		position: relative;
	}
	&__summary {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__check {
		display: flex;
		align-items: center;
		gap: 9px;
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.41px;
		color: #6f6e6e;
	}
	&__heading {
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
		color: #6f6e6e;
	}
	&__box {
		display: flex;
		flex-direction: column;
		gap: 8px;
		box-shadow: 6px 4px 35px 0px #00000036;
		background-color: #ffffff;
		padding: 7px 30px 11px 9px;
		position: absolute;
		left: -9px;
		top: 22px;
	}
}

.headerWrapper {
	background-color: $backBlock; /* Фон на всю ширину */
	width: 100%; /* Растягиваем фон на всю ширину */
	position: relative;
}

.header {
	padding: 20px 16px;
	align-items: center;
	justify-content: space-between;
	@extend %flex;
	position: relative;
	max-width: 1141px;
	margin: 0 auto;
	&__left {
		display: flex;
		align-items: center;
		gap: 41px;
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 33px;
	}
	&__right_productCounter {
		position: relative; /* Это позволяет позиционировать псевдоэлемент внутри этого блока */
		display: inline-block;
		&::after {
			content: "5"; /* Число в кружке */
			position: absolute;
			top: -8px; /* Настройка положения по вертикали */
			right: -9px; /* Настройка положения по горизонтали */
			width: 19px; /* Ширина кружка */
			height: 19px; /* Высота кружка */
			background-color: #f16d7f; /* Цвет кружка */
			border-radius: 50%; /* Закругленные углы */
			color: white; /* Цвет текста */
			font-size: 12px; /* Размер текста */
			display: flex; /* Flexbox для выравнивания текста внутри кружка */
			align-items: center; /* Вертикальное выравнивание текста */
			justify-content: center; /* Горизонтальное выравнивание текста */
		}
	}
}

.box-content {
	overflow: hidden;
}

#burger {
	position: absolute;
	left: -99999px;
	visibility: hidden;
	&:checked ~ .popupMenu {
		right: -99999px;
	}
}

.popupMenu {
  position: absolute; /* Абсолютное позиционирование относительно .containerMain */
  top: 82px; /* Отступ от верхнего края контейнера */
  right: 0; /* Отступ от правого края контейнера */
  width: 232px; /* Ширина меню */
	// 	box-sizing: border-box;
  background-color: white;
  border: none;
	transition: right 0.1s;
  box-shadow: 6px 4px 35px 0px #00000036; /* Тень для объема */
  z-index: 5; /* Поверх остальных элементов */
  padding: 32px; /* Внутренние отступы для расположения содержимого */
	box-sizing: border-box;
	h2 {
		font-size: 14px;
		font-weight: 700;
		line-height: 16.8px;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
  a {
    color: inherit;
  }
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		cursor: pointer;
		background: transparent;
		border: none;
		&:hover path {
			fill: $colorSelectSite;
		}
	}
	&__section {
		h3 {
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			color: #F16D7F;
			text-transform: uppercase;
			margin-bottom: 12px;
			list-style: none; /* Убирает маркеры у списка */
		}
	}
	&__section-categories {
		li {
			padding-left: 25px; /* Отступ от левого края блока */
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			color: #6F6E6E;
			gap: 11px;
			margin-bottom: 11px;
			list-style: none;
		}
	}
}

.top-headWrapper {
	background-color: #f8f3f4; /* Фон на всю ширину */
	width: 100%; /* Растягиваем фон на всю ширину */
	position: relative;
}

.top-head {
	padding: 60px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1141px;
	margin: 0 auto;
	&__heading {
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		line-height: 29px;
		color: $colorSelectSite;
	}
}

.breadcrumbs {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 5px;
	p {
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		line-height: 17px;
		color: #636363;
	}
	&__link {
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		line-height: 17px;
		color: #636363;
	}
	&__link_site {
		font-size: 14px;
		font-weight: 700;
		font-style: normal;
		line-height: 17px;
		color: $colorSelectSite;
	}
}

.product {
	width: $thirdSite;
	display: flex;
	flex-direction: column;
	&__box {
		@include centerflex();
		gap: $gapGrid;
	}
	.image-wrapper {
		position: relative;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			transition: opacity 0.3s ease;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(58, 56, 56, 0.86);
			opacity: 0;
			transition: opacity 0.3s ease;
			z-index: 1;
		}
		&:hover::before {
			opacity: 1;
		}
		.add-to-cart {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: transparent;
			color: #FFFFFF;
			border: 1px solid #FFFFFF;
			padding: 10px 15px;
			display: flex;
			opacity: 0;
			visibility: hidden; /* Вместо display: none */
			align-items: center;
			justify-content: center;
			gap: 11px;
			cursor: pointer;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			z-index: 2;
			transition: opacity 0.3s ease, visibility 0.3s ease;
			text-wrap: nowrap;
		}
		.add-to-cart img {
			width: 26px;
			height: 24px;
			background-color: transparent;
		}
		&:hover .add-to-cart {
			opacity: 1;
			visibility: visible;
		}
	}
	&__content {
		background-color: #f8f8f8;
		padding: 24px 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__name {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		color: $colorText;
	}
	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		color: #5d5d5d;
	}
	&__price {
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		color: $colorSelectSite;
	}
}

.pagination-container {
	margin-top: 18px;
	margin-bottom: 96px;
	width: 284px;
	height: 44px;
	display: flex;
	align-items: center;
	border: 1px solid #EBEBEB;
	overflow-x: auto; /* Горизонтальная прокрутка */
	scroll-snap-type: x mandatory; /* Прокрутка с привязкой */
	scrollbar-width: none; /* Скрытие стандартного скроллбара (для Firefox) */
	-ms-overflow-style: none; /* Скрытие скроллбара (для IE/Edge) */
	&::-webkit-scrollbar {
		display: none; /* Скрытие скроллбара (для Chrome) */
	}
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0 15px;
	gap: 17px;
	white-space: nowrap; /* Исключает перенос элементов */
	li {
		scroll-snap-align: start; /* Привязка к началу элемента */
		cursor: pointer;
		border-radius: 3px;
		color: #EBEBEB;
		border: none;
		background-color: #fff;
		font-family: Lato;
		font-weight: 300;
		font-size: 16px;
		line-height: 100%;
		&:hover {
			color: #5d5d5d;
		}
		&:hover path {
			fill: $colorSelectSite;
		}
	}
	.active {
		color: $colorSelectSite;
	}
}

/* Блок с преимуществами */
.containerFooter {
	background: #222224;
	max-width: 100%;
	overflow: hidden;
	&__offers {
		box-sizing: border-box;
		width: $widthSite;
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin: 0 auto;
		padding: 103px 30px;
		color: #FBFBFB;
		&-width {
			max-width: 360px;
			max-height: 134px;
			text-align: center;
		}
		&-marginBottomImg1 {
			margin-bottom: 28px;
		}
		&-marginBottomImg2 {
			margin-bottom: 19px;
		}
		&-marginBottomImg3 {
			margin-bottom: 25px;
		}
		h2 {
			font-size: 19.96px;
			line-height: 23.95px;
			margin-bottom: 16px;
		}
		p {
			font-size: 13.97px;
			line-height: 16.77px;
			min-width: 310px;
			max-width: 310px;
			font-weight: 300;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		max-width: 1600px;
		margin: 0 auto;
		height: 100%;
	}
	&__overlayFooter {
		position: relative;
		width: 100%;
		height: 448px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__overlayFooter img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__overlayFooter::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(244, 244, 244, 0.7); /* Полупрозрачное наложение */
		z-index: 1; /* Находится под контентом */
	}
	&__overlayFooter-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 328px;
    z-index: 2;
    width: min(100%, 1141px); /* Гарантируем, что ширина будет 100%, но не больше 1141px */
    justify-content: space-between; /* Контролируем отступы между элементами */
    padding: 0 8px; /* Немного отступов, чтобы избежать прилипания к краям */
		box-sizing: border-box;
	}
	&__leftSide {
		display: flex;
		align-items: center;
		flex-direction: column;
		min-width: 360px;
		max-width: 360px;
		gap: 30px;
		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
		}
	}
	&__leftSide-italic {
		font-style: italic; /* Выделение части текста в левой части блока */
	}
	&__rightSide {
		text-align: center;
		text-transform: uppercase;
		max-width: 557px;
		h2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
		}
		h3 {
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 32px;
		}
		input {
			display: flex;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			border-radius: 50px 0 0 50px; /* Закругление только левых углов формы */
			max-width: 256px;
			height: 49px;
			border: none;
			padding: 0 64px 0 22px; /* Внутренние отступы */
			background-color: #E1E1E1;
			&:focus {
				outline: none;
				border: transparent; /* Полностью убирает видимость границы */
			}
		}
		button {
			background: #f16d7f;
			border-radius: 0 50px 50px 0; /* Закругление только правых углов формы */
			color: #ffffff;
			cursor: pointer;
			font-size: 14px;
			font-weight: 400;
			line-height: 16.8px;
			max-width: 100px;
			height: 49px;
			border: none;
			padding: 10px 20px;
		}
	}
	&__rightSide-formSize {
		display: flex;
		align-items: center;
		text-align: center;
		gap: 0; /* Убирает промежуток между input и button */
	}
	&__bottom {
		display: flex;
		align-items: center; /* Выравнивание по вертикали */
		justify-content: space-between; /* Распределение элементов по краям */
		max-width: 1141px;
		margin: 0 auto;
		padding: 24px 16px;
	}
	&__bottom-text {
		display: flex;
		align-items: center; /* Убедитесь, что текст выровнен по центру */
		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 19.2px;
			color: #fbfbfb;
		}
	}
	&__bottom-icons {
		display: flex;
		align-items: center; /* Выравнивание иконок по центру */
		gap: 7px; /* Расстояние между иконками */
		cursor: pointer;
	}
	& .icon-wrapper {
		display: flex; /* Для корректной работы flex-контейнеров */
		align-items: center; /* Выравнивание иконки по вертикали */
		& .bg {
			fill: white; /* Цвет фона иконки*/
			transition: fill 0.3s ease; /* Плавный переход цвета */
		}
		& .icon-path {
			fill: black; /* Цвет иконки */
			transition: fill 0.3s ease; /* Плавный переход цвета */
		}
		&:hover .bg {
			fill: #f16d7f; /* Фон иконки становится розовым */
		}
		&:hover .icon-path {
			fill: white; /* Иконка становится белой */
		}
	}
}

@media (max-width: 1140.98px) and (min-width: 768px) {
	.center {
		padding-left: calc(50% - $widthSitePad / 2);
		padding-right: calc(50% - $widthSitePad / 2);
	}

  .container {
    max-width: 736px;
  }

  .header {
    padding: 18px 32px;
		max-width: 768px;
  }

  .logo img {
    max-height: 38px; /* Ограничение высоты логотипа */
  }

  .menu {
    gap: 25px; /* Расстояние между кнопками */
  }

	.top-head {
		padding: 60px 16px;
		max-width: 768px;
	}

	.filter-sort {
		margin-bottom: 40px;
		margin-top: 11px;
		gap: $gapGridPad;
		justify-content: space-between;
	}

	.filter {
		&[open] &__content {
			margin-left: 16px;
		}
		&__summary {
			padding-left: 26px;
		}
		&__item {
			margin-top: 16px;
		}
	}

	.sort {
		padding-right: 16px;
		&__box {
			z-index: 11;
		}
	}

	.product {
		&__box {
			gap: $gapGridPad;
			& .product:nth-child(3) {
				display: none;
			}
		}
	}

	.pagination-container {
		margin-top: 24px;
		margin-bottom: 63px;
	}

	.containerFooter {
		&__offers {
			flex-direction: column;
			gap: 48px;
			padding: 48px 0 64px 0;
			justify-content: center;
			width: $widthSitePad;
			align-items: center;
			min-height: 498px;
		}
		&__form {
			width: $widthSitePad;
			height: 693px;
			z-index: 2;
		}
		&__overlayFooter {
			position: relative;
			width: 768px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__overlayFooter img {
			height: 115%;
			object-fit: cover;
			object-position: 23% 20%;
			transform: translateY(5%); /* Центрируем изображение */
		}
		&__overlayFooter-content {
			flex-direction: column;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			gap: 85px;
		}
		&__rightSide {
			& h3 {
				margin-bottom: 27px;
			}
		}
		&__bottom {
			width: $widthSitePad;
			padding: 24px 17px;
			box-sizing: border-box;
		}
	}
}

@media (max-width: 767.98px) {
  .container {
    max-width: 359px;
  }

  .header {
    padding: 18px 16px;
		max-width: 375px;
  }

  .hidden {
    display: none;
  }

	.top-head {
		padding: 24px 0 46px 0;
		flex-direction: column;
		gap: 32px;
		max-width: 375px;
	}

	.filter-sort {
		justify-content: space-between;
		max-width: 375px;
		margin: 11px auto 32px auto;
	}

	.filter {
		&__heading + svg {
			width: 37.5px;
			height: 25px;
		}
		&__content {
			width: $widthSitePhone;
		}
		&[open] &__content {
			margin-left: 8px;
		}
		&__summary {
			padding-left: 16px;
		}
	}

	.sort {
		padding-right: 8px;
		gap: 14px;
		text-wrap: nowrap;
		&__heading {
			font-size: 12px;
		}
		&__box {
			z-index: 11;
		}
	}

	.product__box {
		gap: $gapGridPhone;
		width: 360px;
		margin: auto;
	}

	.pagination-container {
		margin-top: 24px;
		margin-bottom: 63px;
	}

	.containerFooter {
		&__offers {
			flex-direction: column;
			gap: 46px; /* Расстояние между дочерними элементами */
			max-width: 348px;
			padding: 48px 0 81px 0;
			align-items: center;
			min-height: 498px;
			&-marginBottomImg1 {
				margin-bottom: 27px;
			}
			&-marginBottomImg2 {
				margin-bottom: 18px;
			}
			&-marginBottomImg3 {
				margin-bottom: 24px;
			}
		}
		&__form {
			max-width: 375px;
			height: 550px;
		}
		&__overlayFooter {
			position: relative;
			width: 375px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&-content {
				flex-direction: column;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				gap: 59px;
				p {
					font-size: 18px;
					max-width: 341px;
				}
			}
		}
		&__overlayFooter img {
			height: 115%;
			object-fit: cover;
			object-position: 24% 30%;
			transform: translateY(-2%); /* Центрируем изображение */
		}
		&__rightSide {
			h2 {
				font-size: 24px;
				font-weight: 700;
			}
			h3 {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 22px;
			}
			&-formSize {
				input {
					box-sizing: border-box;
					width: 245px;
					height: 47px;
					padding: 10px 0 10px 22px; /* Внутренние отступы */
				}
				button {
					box-sizing: border-box;
					width: 96px;
					height: 47px;
					border: none;
					padding: 10px;
					text-align: center;
				}
			}
		}
		&__bottom {
			flex-direction: column-reverse;
			max-width: 251px;
			padding: 43px 0 9px 0;
			gap: 40px;
		}
		&_bottom-text p {
			text-wrap: nowrap;
		}
	}
}