body{
  background: linear-gradient(90deg, rgb(3, 94, 220) 0%, rgb(36, 126, 222) 50%, rgba(0,212,255,1) 100%);
  font-family: Arial, sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
}

.link{
  color: cornflowerblue;
  font-size: 16px;
  line-height: 10px;
}

.title{
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.text{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.text-box {
  background-color: rgba(0, 68, 255, 0.7); /* Синий цвет с 70% прозрачностью */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid white;
  max-width: flex;
  margin: 20px auto; /* Центрирование */
  text-align: left;
}

.subtitle{
  color: coral;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.picture{
  border-radius: 30px;
  width: 350px;
}
